.sing{
    border:1px solid #333;
    padding: 7px;
    margin: 10px 0 5px;
    background: #d3e088;
}

.sing figcaption{
 margin: 0 auto 5px;
}
body{
    background-color: rgba(24, 252, 95);
        





